{% for item in ldap_consul_templates %}
template {
  source = "{{ consul_template_root }}/{{ ldap_consul_template_prefix }}/{{ item.filename }}"
  destination = "{{ item.destination }}"
  command = "service slapd restart"
}
{% endfor %}
