access to attrs=userPassword
  by self write
  by group/groupOfUniqueNames/uniqueMember=cn=admin,dc=group,dc=ldap write
  by anonymous auth

access to *
  by self write
  by group/groupOfUniqueNames/uniqueMember=cn=admin,dc=group,dc=ldap write
  by users read
  by anonymous auth
