.provisioned
*.retry
playbook/group_vars/all
playbook/inventory/inventory
playbook/site.yml
playbook/roles/onelove-roles.freebsd-common/
playbook/roles/onelove-roles.freebsd-consul-template/
cbsd.conf
vars.mk
