tilda: {
    url: "https://pkg.tilda.center/packages/${ABI}-local",
    mirror_type: "http",
    signature_type: "pubkey",
    pubkey: "/usr/local/etc/ssl/certs/pkg.tilda.center.cert",
    enabled: yes,
    priority: 100
}
